<h1>Offices</h1>

<table>
	<thead>
	<tr>
		<th>Nome</th>
		<th>Cargo</th>
		<th colspan="3"></th>
	</tr>
	</thead>

	<tbody>
	<% @employee_relation.each do |ralation| %>
		<tr>
			<td><%= ralation.employee.name %></td>
			<td><%= ralation.office.name %></td>
			<td><%= link_to 'Edit', register_employee_update_path(ralation) %></td>
		</tr>
	<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Office', register_employee_create_path %>